<h1>About</h1>

<h4>Sharing my ideas with the world</h4>

<p>
  I am Shisir Thapa. I am from Malma,Galkot,Baglung,Nepal. I am currently living
  in Atlanta,USA. I am trying to pursue my career in web development as it is
  my interest on it. I did my Bachelors Degree in economics from Nepal. I was 
  in the tourism sector for long period of time. I have deep feelings that in 
  near future i can make a digitalized tourism marketing system in the tourism sector
  of Nepal.
  
</p>

<p>
Talking about Nepal,
  Nepal is in the northside of India. The world's best snowclad mountains are located
  in Nepal. Gautam Buddha, was born in southern part of Nepal. The country Nepal
  is also popolarly known for the origin of buddism and hinduism. Millions of people
  come to explore Nepal,its culture and resources. Nepal economy is based on tourism
  sector. Without building a proper tourism infracstructures , Nepal can't showcase
  what they have in the international arena. 
</p>

<p>
 So the conclusion is that, making web services and tourism in one place can make 
 the tourism workforce running as well as economy runing. This is the way of digitalizaion
 of tourism of our country.
</p>